* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
}

img,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

/* Markdown css */
.task-list-item {
  display: flex;
  align-items: center;
  gap: 4px;
  list-style: none;
}

.markdown-image {
  max-width: 50%;
}
